DATABASE_URL="mysql://username:password@localhost:3307/mydb"
PORT="8000"
CRYPTO_JS_SALT=""

DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_PASSWORD_URL_ENCODED=""
DATABASE_NAME=""
DATABASE_HOST="localhost"
DATABASE_PORT=3307

SMTP_HOST=""
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=""

PASSWORD_SALT_ROUNDS="10"

SN_AUTH_API_BASE_URL="https://sn-auth-api.systemnear.com"
SN_AUTH_API_API_KEY=""
SN_AUTH_API_COMPANY_API_KEY=""
SN_AUTH_API_COMPANY_ID=""

USE_JWE=1
